.body{
    padding:0px;
}

/*you can place any type of code in here, even scss*/


<?pjs
this.list = ['red', 'blue', 'orange'];
pjs?>

ul{
    list-style-type:none;
}

<?pjs
print(".className{font-size:20px;}"); 
pjs?>

div{
    background:green;
}

<?pjs
for(var i = 0 ; i < this.list.length; i++){
    print(' li:nth-child('+(i+1)+'){ background: '+this.list[i]+'; } ');
}
pjs?>