.body{
    padding:0px;
}
<?pjs

pjs?>

ul{
    list-style-type:none;
}

<?pjs
print(".className{font-size:20px;}"); 
pjs?>

div{
    background:green;
}

<?pjs
for(var i = 0 ; i < this.colors.length; i++){
    print(' li:nth-child('+(i+1)+'){ background: rgb('+this.colors[i].r+', '+this.colors[i].g + ', '+this.colors[i].b+') } \n');
}
pjs?>